@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

:root {
  --document-width: clamp(20rem, 55%, 75rem);
  --background-color: #f9f9f9;
  --text-color: #444;
  --link-color: #005694;
  --details-background-color: #d4d1ec;
  --red: #880808;
}
